<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/about">about</a></li>
                </ul>
            </nav>
            <div class="container">

            {{ content }}

            </div><!-- /.container -->
            <footer>
                <ul>
                   <li><a href="mailto:matarhaller@gmail.com">email</a></li>
                    <li><a href="https://github.com/matarhaller">github</a></li>
                    <li><a href="https://linkedin.com/in/matarhaller">linkedin</a></li>
                    <li><a href="../data/Matar_Haller.pdf">resume</a></li>
                </ul>
            </footer>
        </body>
    </html>
